.footer {
    border: solid 1px silver;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    background: slategray;
    color: white;
}
.inputSuccess{
    border: lawngreen 2px solid;
    border-radius: 6px;
}
.inputError{
    border: red 2px solid;
    border-radius: 6px;
}

.main {
    margin-bottom: 80px;
    margin-top: 10px;
    padding: 0 5%;
}
header{
    display: flex;
    align-items: center;
    background: slategray;
}
.logo{
    color: #ffc107;
}
.header-center{
    margin-left: 4%;
    font-size: 20px;
}
.header-name{
    margin-left: 40%;
    font-size: 20px;
    color: white;
    text-decoration:none
}
.header-logout{
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: white;
    text-decoration:none
}
.header-center ul li{
    display: inline-block;
}
.header-center ul{
    margin: 0;
}
.header-left{
    margin: 10px;
    font-size: 24px;
    font-family: fantasy;
}
.header-center a, .header-logout a {
    color: white;
    text-decoration:none;
}
.header-center a:active, .header-logout a:active {
    color: #0b2e13;
    text-decoration:none;
}
.header-center a:visited, .header-logout a:visited {
    color: white;
    text-decoration:none;
}
.header-center a:hover, .header-logout a:hover {
    color: #0b2e13;
    text-decoration: underline;
}
.deletecheckbox{
    border: none;
}

.design, button {
    display: inline-block; /* Строчно-блочный элемент */
    padding: 5px 20px; /* Добавляем поля */
    text-decoration: none !important; /* Убираем подчёркивание у ссылки */
    cursor: pointer; /* Курсор в виде руки */
    background: #D0E0F0;
    border-radius: 10px; /* Скругляем уголки */
    border: 0; /* Добавляем синюю рамку */
    font: 16px/1 Arial, sans-serif; /* Рубленый шрифт */
    color: slategray; /* Цвет текста и ссылки */
    margin-right: 20px;
}
.design:hover, button:hover {
    color: #405060 !important;
    text-decoration: none;
}
#create, #save, #delete, #sendTest, #ok {
    font-size: 24px;
    font-weight: bold;
}
.courses{
    margin: auto;
    align-content: center;
}
.price{
    float: right;
    margin-right: 10%;
}
.form-group{
    font-size: 24px;
}
.nameCourse{
    font-size: 32px;
    display: block;
    text-align: center;
}
.seccussAnswer{
    color: lawngreen;
}
.errorAnswer{
    color: red;
}
.message{
    font-size: 24px;
    display: inline-block;
}
.courseDiv{
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}
lable{
    font-size: 32px !important;
}